# python
__pycache__/
*.pyc
*.pyo
*.pyd

# envs
.env
.env.* 
.venv/
venv/
venv*/

# editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# data, uploads
data/*.json
data/*.db
uploads/
.mlruns/

# packaging
dist/
build/
*.egg-info/

# system
.DS_Store
